<div class="btn-group btn-group-justified">
    @Html.RouteLink("MC", new { action = "Index", controller = "Home", op = "MC" }, new { @class = "btn btn-default btn-lg btn-block"})
    @Html.RouteLink("MR", new { action = "Index", controller = "Home", op = "MR" }, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.RouteLink("M+", new { action = "Index", controller = "Home", op = "M+" }, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.RouteLink("M-", new { action = "Index", controller = "Home", op = "M-" }, new { @class = "btn btn-default btn-lg btn-block" })
</div>
<div class="btn-group btn-group-justified">
    @Html.RouteLink("%", new { action = "Index", controller = "Home", op = "%" }, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.RouteLink("\u221a", new { action = "Index", controller = "Home", op = "\u221a" }, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.RouteLink("x^2", new { action = "Index", controller = "Home", op = "^2" }, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.RouteLink("1/x", new { action = "Index", controller = "Home", op = "1/x" }, new { @class = "btn btn-default btn-lg btn-block" })
</div>
<div class="btn-group btn-group-justified">
    @Html.RouteLink("CE", new { action = "Index", controller = "Home", op = "CE" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("C", new { action = "Index", controller = "Home", op = "C" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("\u232b", new { action = "Index", controller = "Home", op = "\u232b" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("\u00F7", new { action = "Index", controller = "Home", op = "/" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
</div>
<div class="btn-group btn-group-justified">
    @Html.RouteLink("7", new { action = "Index", controller = "Home", num = 7 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("8", new { action = "Index", controller = "Home", num = 8 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("9", new { action = "Index", controller = "Home", num = 9 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("x", new { action = "Index", controller = "Home", op = "*" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
</div>
<div class="btn-group btn-group-justified">
    @Html.RouteLink("4", new { action = "Index", controller = "Home", num = 4 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("5", new { action = "Index", controller = "Home", num = 5 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("6", new { action = "Index", controller = "Home", num = 6 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("-", new { action = "Index", controller = "Home", op = "-" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
</div>
<div class="btn-group btn-group-justified">
    @Html.RouteLink("1", new { action = "Index", controller = "Home", num = 1 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("2", new { action = "Index", controller = "Home", num = 2 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("3", new { action = "Index", controller = "Home", num = 3 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("+", new { action = "Index", controller = "Home", op = "+" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
</div>
<div class="btn-group btn-group-justified">
    @Html.RouteLink("\u00b1", new { action = "Index", controller = "Home", op = "\u00b1" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink("0", new { action = "Index", controller = "Home", num = 0 }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink(",", new { action = "Index", controller = "Home", op = "," }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
    @Html.RouteLink(" = ", new { action = "Index", controller = "Home", op = "=" }, new { @class = "btn btn-default btn-lg btn-block", @style = "background-color: #f2f2f2" })
</div>